<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         stopOnError="true"
         stopOnFailure="true"
         processIsolation="true"
         backupGlobals="false"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="Project Test Suit">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
